@media only screen and (min-width: 1000px) {
  html {
    font-size: 20px;
  }

  // ? ---------- Header ---------- //
  // * Navbar
  nav > ul {
    max-width: 25em;
    position: relative;
    left: calc(100% - (25em + 8% - 20px));
  }

  // * Hero
  div.hero {
    height: calc(100vh - 43px);
    h1 {
      max-width: 25rem;
      margin: 0 auto 1rem 8%;
    }
  }
  // * All sections
  section.about,
  section.contact {
    .heading {
      margin: 0 8% 0.5rem auto;
    }
    p {
      margin: 0 8% 0 auto;
      font-size: 1.25em;
      &:last-child {
        margin-bottom: 1rem;
      }
    }
  }

  div.technologies {
    margin: 0 7% 0 auto;
    max-width: 80%;
    div.tech-skill {
      width: 12%;
    }
    p {
      margin: 0;
    }
  }

  // * Projects section
  section.projects {
    .heading {
      margin: 0 auto 0.5rem 8%;
    }
    div.projects-wrapper {
      width: 90%;
      margin: 0 auto 0 5%;
      div.project {
        max-width: calc(26.2% - 1px);
        &:nth-child(2), &:nth-child(4) {
          border-right: 1px solid #000;
        }
        &:nth-child(3) {
          border-right: none;
          border-bottom: 1px solid #000 !important;
        }
      }
    }
  }
}
