// ? ---------- Header ---------- //
// * Navbar
nav {
  font-size: 20px;
  border-bottom: 1px solid #000;
  ul {
    display: flex;
    justify-content: flex-end;
    li {
      margin: 0.5em;
      list-style: none;
    }
  }
}

// * Hero
div.hero {
  height: calc(100vh - 43px);
  text-transform: uppercase;
  text-align: bottom;
  font-size: 2em;
  padding: 0.5em 0.5em 0;
  border-bottom: 1px solid #000;
  h1:first-child {
    margin-top: 60vh;
    max-width: 7em;
  }
}

// ? ---------- Sections ---------- //
// * General
section.section {
  min-height: calc(100vh - 43px);
  height: 100%;
  padding: 1rem 0.75rem;
  border-bottom: 1px solid #000;
  font-size: 18px;
  .heading {
    font-size: 1.75em;
    margin: 2rem 0 1rem;
    padding-left: 0.25em;
    letter-spacing: 3px;
  }
}
// * About and contact sections
section.about,
section.contact {
  text-align: right;
  padding-left: 2.5rem;
}
// * About section
section.about > p:nth-child(2) {
  padding-bottom: 1rem;
}

section.about > h2:nth-child(4) {
  margin-top: 4rem;
}

div.technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 25em;
  margin: 0 0 0 auto;
  div.tech-skill {
    text-align: center;
    width: 27%;
    margin: 20px 0 10px 20px;
    i {
      font-size: 2.5em;
    }
    p {
      margin-top: 8px;
    }
  }
}

// * Projects section
div.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #000;
  width: 100%;
  div.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    padding: 2rem;
    border-bottom: 1px solid #000;
    &:nth-child(4) {
      border-bottom: none;
    }
    h3 {
      font-size: 20px;
      text-align: center;
      margin-bottom: 0.5rem;
    }
    .links > a {
      padding: 3px;
      &:first-child::after {
      content: "  //";
    }
  }
    p {
      text-align: justify;
      width: 80%;
      transition: 1s ease-in;
    }
    button {
      margin: 0.5em;
      padding: 10px;
    }
  }
}
// * Contact section
section.contact {
  border-bottom: transparent;
}
