// ? ---------- Header ---------- //
// * Navbar
nav {
  font-size: 20px;
  border-bottom: 1px solid #000;
  ul {
    display: flex;
    justify-content: flex-end;
    li {
      margin: 0.5em;
      list-style: none;
    }
  }
}

// * Hero
div.hero {
  text-transform: uppercase;
  font-size: 2em;
  margin-top: 4em;
  padding: 0.5em;
  border-bottom: 1px solid #000;
}

// ? ---------- Sections ---------- //
// * General
section.section {
  padding: 1rem 0.75rem;
  border-bottom: 1px solid #000;
  font-size: 18px;
  .heading {
    font-size: 1.75em;
    margin-bottom: 0.5rem;
    letter-spacing: 3px;
  }
}
// * About and contact sections
section.about,
section.contact {
  text-align: right;
  padding-left: 2.5rem;
}

// * About section
section.about > p:nth-child(2) {
  padding-bottom: 1rem;
}

// * Projects section
div.projects-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  article.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    width: 96%;
    height: 230px;
    border: 1px solid #000;
  }
}

// * Contact section
section.contact {
  border-bottom: transparent;
}
