@media only screen and (min-width: 600px) {
  // ? ---------- Header ---------- //
  // * Navbar
  nav ul {
    margin-right: 0.5em;
  }
  // * Hero
  div.hero {
    padding: 1rem;
  }

  // ? ---------- Sections ---------- //
  // * All sections
  section.section {
    padding: 1rem;
    p {
      max-width: 25em;
      margin: 0 0 0 auto;
    }
  }

  // * Projects section
  div.projects-wrapper > article.project {
    width: 42%;
  }
}