@media only screen and (min-width: 600px) {
  // ? ---------- Header ---------- //
  // * Navbar
  nav ul {
    margin-right: 0.5em;
  }
  // * Hero
  div.hero {
    padding: 1rem;
  }

  // ? ---------- Sections ---------- //
  // * All sections
  section.section {
    padding: 1rem;
    p {
      max-width: 25em;
      margin: 0 0 0 auto;
    }
  }

  div.project {
    max-width: calc(41.96% - 1px);
    // margin: auto;
    &:nth-child(1), &:nth-child(3) {
      border-right: 1px solid #000;
    }
    &:nth-child(3) {
      border-bottom: none !important;
    }
    p {
      margin: 0;
    }
  }
}